<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"28px","bottom":"56px","left":"20px","right":"20px"}}}} -->
<main class="wp-block-group">

    <!-- wp:group {"align":"wide","backgroundColor":"card","style":{"border":{"color":"var(--wp--preset--color--border)","width":"1px","style":"solid"},"border":{"radius":"24px"},"spacing":{"padding":{"top":"38px","right":"38px","bottom":"38px","left":"38px"}}}} -->
    <div class="wp-block-group alignwide has-card-background-color has-background">
      <!-- wp:post-title {"level":1} /-->
      <!-- wp:spacer {"height":"14px"} /-->
      <!-- wp:post-content /-->
    </div>
  
  </main>
  <!-- /wp:group -->
  
  <!-- wp:template-part {"slug":"footer"} /-->